@import '../common.scss';

.categoryBox {
  padding: 1rem 0;
  box-sizing: border-box;

  .slide {
    width: auto;
    padding: 0.3rem;
    line-height: 1;

    &.on {
      border-radius: 5px;
      color: $pointColor-02;
      background-color: $pointColor-01;
    }
  }
}
